html {
    background-color: #121212;
    padding: 5px;

    font-family: "Open Sans", "Inter", sans-serif;
    color: white;
    font-size: 1.1em;
    color-scheme: dark;
}

p {
    font-size: 1.1em;
}

h1,
h2 {
    font-family: Roboto, sans-serif;
}

a:link {
    color: lightgrey;
}

a:visited {
    color: #c9c9c9;
}

select {
    min-width: min(21em, 100%);
    max-width: 100%;
}

@media (pointer: coarse) {
    select,
    button,
    input {
        font-size: 1em;
        margin: 0.2em;
        padding: 0.2em;
    }
}

.narrow-input {
    width: 5em;
}
